*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}
img{
    display: block;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section_title{
    text-align: center;
    font-size: 16px;
    color: #7e8287;
    line-height: 41px;
}
.section_title h2{
    text-transform: uppercase;
    font-size: 46px;
    color: #02918c;
    padding-top: 80px;
    padding-bottom: 30px;
}
.section_title p{
    padding: 0 150px;
}
.section_title p span{
    font-weight: 800;
}
/* Header Section Css Start */
#header{
    background-color: #02918c;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

#header.stickyHeader {
    background-color: #000;
}
.stickyHeader {
    animation: stickyMenu .5s;
    -webkit-animation: stickyMenu .5s;
}
@keyframes stickyMenu {
    from{
        top: -20px;
    }to{
        top: 0px;
    }
}
#header .container .row{
    align-items: center;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    padding: 21px 25px;
    transition: all linear .3s;
}
.menu ul li:hover a{
    color: #cfc91d;
}
#header.stickyHeader a{
    color: #00ffff;
    padding: 22px 26px;
    font-size: 13px;
}
.logo{
    width: 30%;
}

.menu{
    width: 70%;
    text-align: right;
}
/* //Header Section Css End */
/*Banner Section Css Start*/
#banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 730px;
    position: relative;
    z-index: 1;
}
#banner::before{
 content: '';
 position: absolute;   
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, .34);
 z-index: -1;
}
#banner .container,
#banner .row{
    height: 100%;
}
#banner .container .row{
    align-items: center;
    justify-content: center;
}
#banner .banner_content{
    text-align: center;
    color: #fff;
}
#banner .banner_content h3{
    padding-top: 215px;
    padding-bottom: 5px;
}
#banner .banner_content h1{
    font-size: 68px;
    font-weight: 800;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#banner .banner_content img{
    margin: 49px auto;
}
#banner .banner_content a{
    display: inline-block;
    text-decoration: none;
    color: #0b1016;
    font-weight: 800;
    padding: 15px 55px;
    font-size: 14px;
    background-color: #cfc91d;
}
/* //Banner Section Css End */
/* About Section Css Start */
h3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.about_item_wrapper{
    padding-top: 5px;
    padding-bottom: 110px;
}
.about_item_wrapper
.about_item{
    width: 25%;
    text-align: center;
    margin-top: 86px;
    padding: 45px 60px;
    border-right: 1px solid #ddd;
}
.about_item_wrapper
.about_item:last-child{
    border-right: none;
}
.about_item_wrapper
.about_item img{
    margin: auto;
}
/* // About Section Css End */
/* Services Section Css Start */
#service{
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
    height: 790px;
}
#service::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(240, 240, 232, .7);
    z-index: -1;
}
.service_inner{
    width: 50%;
}
#service .service_inner .section_title{
    text-align: left;
    padding-right: 110px;
}
#service .service_inner .section_title p{
    padding: 0;
    text-align: left;
}
#service .service_inner .service_item img{
    padding-top: 20px;
}
.service_item_wrapper .service_item{
    width: 50%;
    padding-right: 120px;
}
/* //Service Section Css End */
/*My Work Section Css Start */
    #myWork .myWork_item_wrapper .myWork_item{
        width: 25%;
    }        
    #myWork .myWork_item_wrapper .myWork_item img{
        width: 100%;
    }
    #myWork .myWork_item_wrapper .myWork_item{
        position: relative;
    }
    #myWork .myWork_item_wrapper .myWork_item .myWork_overly{
        position: absolute;
        background-color: rgba(2, 145, 140, .85);
        top: 20px;
        right: 30px;
        left: 30px;
        bottom: 20px;
        text-align: center;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
       transition: all linear .5s;
       color: #ffffff;
    }
    #myWork .myWork_item_wrapper .myWork_item:hover .myWork_overly{
       opacity: 1;
        visibility: visible;
    } 
/* // My Work Section Css End*/
/* Contact Section Css Start*/
    #contact .contact_form{
        background-color: #0b0b0b;
        padding: 80px 0;
    }
    #contact .contact_form input,
     #contact .contact_form textarea{
         border: none;
         display: block;
         text-align: center;
         margin: auto;
         width: 75%;
         background: none;
         margin-bottom: 60px;
         border-bottom: 2px solid #898989;
         color: #7e8287;
         padding: 10px;
     }
     #contact .contact_form input:nth-child(1),
     #contact .contact_form input:nth-child(2){
         width: 50%;
     }
     #contact .contact_form textarea{
        font-family: 'Open Sans', sans-serif; 
        resize: none;
     }
     #contact .contact_form button{
         margin: auto;
         display: block;
         padding: 20px 60px;
         background-color: #cfc91d;
         color: #0b1016;
         font-size: 21px;
         border:none;
         cursor: pointer;
     
     }
     
      #backToTop{
        background-color: #ff0000;
        border: none;
        padding: 15px 10px;
        color: #ffffff;
        position: fixed;
        right: 20px;
        bottom: 20px;
        font-size: 25px;
        border-radius: 10px;
        -webkit-border-radius:10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        display: none;
        transition: linear 1s;
        -webkit-transition: linear 1s;
        -moz-transition: linear 1s;
        -ms-transition: linear 1s;
        -o-transition: linear 1s;
    
    } 
/* Contact Section Css end*/
 .not_copy{
    background-color: #000000;
    color: #7e8287;
    text-align: center;
    padding: 35px 25px;
    font-size: 15px;
    text-transform: uppercase;
}
#preloader_container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}  
